.container {
    background-color: var(--white-color);
}

.content-product {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
    background-color: #fff;
}

.label {
    background-color: #db0006;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 6px 8px;
}
