.container {
    display: flex;
    background-color: var(--white-color);
}

.info {
    width: 25%;
    padding: 10px 8px;
    font-size: 1.4rem;
    line-height: 2.6rem;
}

.title {
    font-size: 1.6rem;
    font-weight: 600;
    color: red;
    margin-bottom: 10px;
}

.info-bank {
}

.bank-account {
    display: flex;
    margin: 10px 0;
}

.img {
    width: 60px;
    object-fit: contain;
    object-position: center;
    margin-right: 8px;
}

.noticed {
    height: 60px;
    object-fit: contain;
    object-position: center;
}

.info-policy {
}

.info-member {
}

.icon {
    font-size: 0.8rem;
    padding: 0 3px 1px 0;
}

.policy,
.member {
    color: var(--text-color);
    font-size: 1.4rem;
    margin: 3px 0;

    &:hover {
        color: red;
    }
}

.info-contact {
    h3 {
        font-size: 1.4rem;
    }

    div {
        padding-left: 10px;
    }
}
