.container {
    width: 100%;
    padding: 0 5px;
    margin-bottom: 10px;
}

.header {
    font-size: 1.5rem;
    font-weight: 700;
    color: #404040;
    background-color: #d7d7d7;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.body {
    border: 1px solid #d7d7d7;
    padding: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
