.containers {
    width: 100%;
}

.content {
    background-color: var(--white-color);
}

.title {
    margin-left: 17px;
    text-transform: uppercase;
    color: var(--black-color);
    padding: 0;
    font-size: 2.2rem;
    font-weight: 700;
    padding: 10px 0 5px 0;
}

.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.item {
    width: 10%;
    height: auto;
    color: var(--text-color);
    border: 1px solid #f1f1f1;
    text-decoration: none;
}

.img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px auto 0 auto;

    img {
        width: 75px;
        height: 75px;
        object-fit: contain;
        object-position: center;
    }
}

.name {
    font-size: 1.4rem;
    text-transform: capitalize;
    text-align: center;
    padding: 10px;
}

.redline {
    width: 100%;
    height: 32px;
    background-color: #db0006;
    margin: 7px 0;
}
