.container {
    width: 100%;
}

.title {
    color: var(--white-color);
    background-color: #db0006;
    font-size: 1.6rem;
    padding: 6px 10px;
    text-transform: uppercase;
}

.body {
    background-color: var(--white-color);
    padding-bottom: 15px;
}

.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #f1f1f1;
}
